@model List<LibrarieOnline.Models.BookModel>

@{
    ViewBag.Title = "Index";
}

<br />

@if (ViewBag.Message != null)
{
    <h2 id="success-message" class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var messageDiv = document.getElementById('success-message');
            if (messageDiv) {
                messageDiv.style.transition = "opacity 0.5s ease";
                messageDiv.style.opacity = 0;
                setTimeout(function () {
                    messageDiv.remove();
                }, 500);
            }
        }, 4000);
    });
</script>

<br />
<!-- carusel de imagini, swipe autopat cu pauza la hover -->
<div id="homepageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000" data-bs-pause="hover">
    <!-- Indicatori -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homepageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homepageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      
    </div>

    <!-- Imagini -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/welcome.png" class="d-block w-100" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="/images/rewardmessage.png" class="d-block w-100" alt="Second slide">
        </div>
    </div>

    <!-- Butoane de navigare -->
    <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Selectează caruselul
        var carousel = document.querySelector('#homepageCarousel');
        var carouselInstance = bootstrap.Carousel.getOrCreateInstance(carousel);

        // Setează intervalul la 10 secunde
        carouselInstance._config.interval = 10000;

        // Pornește rularea automată
        carouselInstance.cycle();
    });
</script>

<div class="row row-cols-1 row-cols-md-4 g-4" style ="margin-top: 50px">
    @foreach (LibrarieOnline.Models.BookModel book in ViewBag.Books)
    {
        if (book.Approved)
        {
            <div class="col">
                <div class="card h-100" style="max-width: 16rem;">
                    <div class="card-body" style="box-shadow: 0 0 25px 10px #ADD8E6; position: relative;">
                        <a asp-action="Book" asp-controller="Book" asp-route-bookId="@book.BookID">
                            <img src="@book.Image" class="card-img-top" style="height:14rem;" alt="Poza" />
                            <h5 class="card-title mt-2">@book.Title</h5>
                            <p class="card-text">@book.Description.Substring(0, Math.Min(100, book.Description.Length))...</p>
                            <p class="text-muted">Autor: @book.Author</p>
                            <p class="fw-bold">Preț: @book.Price.ToString() lei</p>
                            @if (book.AvgRating > 0)
                            {
                                <p><strong>Rating:</strong> @book.AvgRating.ToString("") / 5</p>
                            }
                            else
                            {
                                <p><strong>Rating:</strong> No ratings yet</p>
                            }
                        </a>
                        <div class="second">
                            <form asp-action="AddToCart" asp-controller="BookCart" method="post">
                                <input type="hidden" name="bookId" value="@book.BookID" />
                                <div style="text-align:center">
                                    <button class="btn btn-primary border rounded-pill border-blue" style="width:12rem;" type="submit">
                                        Adaugă în coș <i class="bi bi-cart"></i>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        }
    }
</div>

<br />

@* Afisarea paginată a articolelor *@
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Book/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Book/Index?page=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link"
                   href="/Book/Index?page=@(ViewBag.lastPage)" arialabel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
